DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
DJANGO_TIME_ZONE=Asia/Ho_Chi_Minh
DB_ENGINE=django.db.backends.postgresql
DB_NAME=trekky
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_API_KEY=
UPLOAD_PROVIDER=local
CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
CLOUDINARY_SECURE=true
GOOGLE_IMAGE_SEARCH_API_KEY=
GOOGLE_IMAGE_SEARCH_ENGINE_ID=
PEXELS_API_KEY=
